<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cc.metapro.openct">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".OpenCT">
        <activity
            android:name=".homepage.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".preference.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".homepage.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cc.metapro.openct.homepage.MainActivity"/>
        </activity>
        <activity
            android:name=".gradelist.GradeActivity"
            android:label="@string/grade_query"
            android:parentActivityName=".homepage.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cc.metapro.openct.homepage.MainActivity"/>
        </activity>
        <activity
            android:name=".search.LibSearchActivity"
            android:label="@string/search_lib"
            android:parentActivityName=".homepage.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cc.metapro.openct.homepage.MainActivity"/>
        </activity>
        <activity
            android:name=".borrow.LibBorrowActivity"
            android:label="@string/borrow_info"
            android:parentActivityName=".homepage.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cc.metapro.openct.homepage.MainActivity"/>
        </activity>
        <activity android:name=".search.BookDetailActivity">
        </activity>
        <activity
            android:name=".room.RoomActivity"
            android:label="@string/empty_room_query"
            android:parentActivityName=".homepage.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cc.metapro.openct.homepage.MainActivity"/>
        </activity>

        <receiver
            android:name=".widget.DailyClassWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.DATE_CHANGED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.USER_PRESENT"/>

                <action android:name="cc.metapro.openct.action.UPDATE_ITEMS"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/daily_class_widget_info"/>
        </receiver>

        <service android:name=".widget.WidgetService"
                 android:permission="android.permission.BIND_REMOTEVIEWS">
        </service>
    </application>

</manifest>